#!groovy

import hudson.model.*
import jenkins.model.*
import hudson.security.*

def instance = Jenkins.getInstance()

def hudsonRealm = new HudsonPrivateSecurityRealm(false)

hudsonRealm.createAccount('{{jenkins_master_admin}}', '{{jenkins_master_admin_pass}}')
hudsonRealm.createAccount('{{jenkins_dev_user_name}}', '{{jenkins_dev_user_pass}}')
   
instance.setSecurityRealm(hudsonRealm)

instance.save()









